:root {
    --pdoc-background: #f5f5f5;
}

.pdoc {
    --text: #111111;
    --muted: #4b4a4a;
    --link: #0078D7;
    --link-hover: #008cff;
    --code: #f3f0f0; /*#f3f0f0*/ /*e0e0e0*/
    --active: #f3f0f0;
    --accent: #f3f0f0;
    --accent2: #e0e0e0;
    --nav-hover: rgba(150, 150, 150, 0.1);
    --name: #0078D7;
    --def: #9C27B0;
    --annotation: #9e580d;
}